{% extends 'base.html' %}
{% load i18n %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card shadow-lg p-4">
      <h2 class="text-center text-primary mb-4">Set a New Password</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100">Change Password</button>
      </form>
      <div class="text-center mt-3">
        <a href="{% url 'login' %}" class="text-decoration-none">Back to Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
